<h1><%="The rain in Spain stays mainly on the plain."%></h1>

<h2><%=Number of Words:%></h2>

<h2><%=Vowels: %></h2>

<h2><%=Consonants: %></h2>

<h2><%=Most Common Letter: _____ used _____ times%></h2>
